<nav class="flex justify-center pt-8 sticky">
  <ol class="inline-flex items-center mb-3 sm:mb-0" id="breadcrumb">
    <li>
      <div class="flex items-center">
        <a href="/"
          class="inline-flex items-center justify-center h-9 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          <module href="/components/icons/home.svg"></module>
          <span> &nbsp; conorhinchee.com</span>
        </a>
      </div>
    </li>
    <li role="presentation">
      <span class="mx-2 text-gray-400">/</span>
    </li>
    <li>
      <div class="flex items-center relative">
        <button
          class="inline-flex items-center justify-center h-9 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          id="breadcrumbNavButton">
          <span>navigate &nbsp;</span>
          <module href="/components/icons/chevron-down.svg"></module>
        </button>

        <div
          class="invisible absolute z-10 top-full mt-2 right-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          id="breadcrumbNavDropdown">
          <ul class="text-sm text-gray-700 dark:text-gray-200">
            <li class="jumplink">
              <a href="#about"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">#About</a>
            </li>
            <li class="jumplink">
              <a href="#projects"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">#Projects</a>
            </li>
            <li class="jumplink">
              <a href="#socials"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">#Socials</a>
            </li>
            <li>
              <a href="/" id="breadcrumbNavHome"
                class="hidden px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Home
            </li>
            <li>
              <a href="/blog" id="breadcrumbNavBlog"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Blog</a>
            </li>
            <li>
              <a href="/now" id="breadcrumbNavNow"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Now</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="hidden" role="presentation" id="breadcrumb-Nav-Separator">
      <span class="mx-2 text-gray-400">/</span>
    </li>
    <li class="hidden" id="breadcrumb-Nav-revision">
      <div class="flex items-center">
        <button
          class="inline-flex items-center justify-center h-9 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus: focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          <module href="/components/icons/git-merge.svg"></module>
          <span>&nbsp; Revision v3.0</span>
        </button>
      </div>
    </li>
    <li class="hidden" id="breadcrumb-Nav-blog">
      <div class="flex items-center relative">
        <button
        class="inline-flex items-center justify-center h-9 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus: focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"> 
          <span class="mr-2">Post: Latest </span>
          <module href="/components/icons/chevron-down.svg"></module>
        </button>

        <div
          class="invisible absolute z-10 top-full mt-2 right-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          id="breadcrumbBlogDropdown">
          <ul class="text-sm text-gray-700 dark:text-gray-200">
            <li>
              <a href="/" id="breadcrumbNavHome"
                class="hidden px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Home
            </li>
            <li>
              <a href="/blog" id="breadcrumbNavBlog"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">BloGGGGg</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex items-center">

      </div>
    </li>
  </ol>
</nav>