<pre class="curl-only">
  ____                         _   _ _       _               
 / ___|___  _ __   ___  _ __  | | | (_)_ __ | |__   ___  ___ 
| |   / _ \| '_ \ / _ \| '__| | |_| | | '_ \| '_ \ / _ \/ _ \
| |__| (_) | | | | (_) | |    |  _  | | | | | | | |  __/  __/
 \____\___/|_| |_|\___/|_|    |_| |_|_|_| |_|_| |_|\___|\___|

Hi, I am Conor. You found the curl view.

Links
- Home: https://www.conorhinchee.com
- Blog: https://www.conorhinchee.com/blog
- Now:  https://www.conorhinchee.com/now
- GitHub: https://github.com/Conor-Hinchee
- X: https://x.com/_DrunkWaffles_

Try
- curl -L https://www.conorhinchee.com
- curl -L https://www.conorhinchee.com/blog
- curl -L https://www.conorhinchee.com/now
</pre>
