<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/Conor-Hinchee/main.css" />
<link rel="preconnect" as="script" href="https://kit.fontawesome.com/0232010c43.js" />
<script src="https://kit.fontawesome.com/0232010c43.js" crossorigin="anonymous" async></script>
<script src="/Conor-Hinchee/blocking.bundle.js"></script>
<script src="/Conor-Hinchee/index.bundle.js" defer></script>
<link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H0CFE0GWWL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-H0CFE0GWWL");
</script>

<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      "gtm.start": new Date().getTime(),
      event: "gtm.js",
    });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-N5LVHRXL");
</script>
<!-- End Google Tag Manager -->