<section
  id="socials"
  class="font-mono dark:text-white mt-28 flex flex-row justify-around"
>
  <!-- <h2 id="projectsSectionHeader" class="text-center text-3xl">
    The Socials
  </h2> -->
  <a
    href="https://github.com/Conor-Hinchee"
    target="_blank"
    rel="noopener noreferrer"
    class="w-20 h-40 rounded-full m-4 hover:scale-125"
  >
    <module href="/components/icons/github-logo.svg"></module>
  </a>
  <a
    href="https://github.com/Conor-Hinchee/Conor-Hinchee/blob/portfolio/3.x/dist/Conor-Hinchee/Conor%20Hinchee%20Resume%202024.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class="w-20 h-40 rounded-full m-4 hover:scale-125"
  >
    <module href="/components/icons/address-card.svg"></module>
  </a>
  <a
    href="https://www.linkedin.com/in/conor-hinchee/"
    target="_blank"
    rel="noopener noreferrer"
    class="w-20 h-40 rounded-full m-4 hover:scale-125"
  >
    <module href="/components/icons/linkedin-logo.svg"></module>
  </a>
  <!-- <button class="w-20 h-40  rounded-full m-4">
    <module href="/components/icons/npm-logo.svg"></module>
  </button> -->
  <a
    href="https://www.linkedin.com/in/conor-hinchee/"
    target="_blank"
    rel="noopener noreferrer"
    class="w-20 h-40 rounded-full m-4 hover:scale-125"
  >
    <module href="/components/icons/envelope.svg"></module>
  </a>
</section>
