<section id="socials" class="font-mono dark:text-white mt-28 flex flex-row justify-around ">
  <!-- <h2 id="projectsSectionHeader" class="text-center text-3xl">
    The Socials
  </h2> -->
  <button class="w-20 h-40 rounded-full m-4 hover:scale-125">
    <module href="/components/icons/github-logo.svg"></module>
  </button>
  <button class="w-20 h-40 rounded-full m-4 hover:scale-125">
    <module href="/components/icons/address-card.svg"></module>
  </button>
  <button class="w-20 h-40 rounded-full m-4 hover:scale-125">
    <module href="/components/icons/linkedin-logo.svg"></module>
  </button>
  <!-- <button class="w-20 h-40  rounded-full m-4">
    <module href="/components/icons/npm-logo.svg"></module>
  </button> -->
  <button class="w-20 h-40 rounded-full m-4 hover:scale-125">
    <module href="/components/icons/envelope.svg"></module>
  </button>
</section>
